<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/c1.css')}}">
     
</head>
<body>
    <center>
    <h1>Here  we are connecting to static folder</h1>
    <h2>prabhas</h2>
    <img src="{{url_for('static',filename='images/prabhas.jfif')}}" alt=""><br><br>
    <a href="{{url_for('sendhtml')}}"> go to send html page</a>
</center>
</body>
</html>